<ion-view view-title="Edit Note">
	<ion-content>
		<div class="list card">
			<div class="item item-input">
				<input type="text" placeholder="Title"
					ng-model="note.title">
			</div>
			<div class="item item-input">
				<textarea rows="3" placeholder="Description"
					ng-model="note.description"></textarea>
			</div>
          <div class="item item-image">
            <img ng-src="{{pictureUrl}}">
          </div>
		</div>

        <div class="padding">
			<div class="button-bar">
				<button ng-click="takePicture()"
				class="button button-block button-calm">Take Picture</button>
				<button ng-click="pickPicture()"
				class="button button-block button-calm">Gallery</button>
            </div>		
        </div>
		<div class="padding">
			<button class="button button-block button-positive"
				ng-click="save()">Save</button>
		</div>
	</ion-content>
</ion-view>