<ion-view view-title="My Notes" ng-controller="ListCtrl">
  <ion-content>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right"
        href="#/edit/{{note.id}}"
        ng-repeat="note in notes track by note.id" ng-if="note.filters == null">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
		<p><span>{{note.id | amCalendar}}</span> - <span am-time-ago="note.id"></span></p>
        <i class="icon ion-arrow-right-b"></i>
        <ion-option-button class="button-assertive icon-left ion-trash-b"
          ng-click="remove(note)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add"
      class="button button-assertive icon-left ion-compose">New Note</a>
  </div>
</ion-view>